<%- include('partials/header') %>

<style type="text/css">
  .login-form {
    width: 340px;
    margin: 50px auto;
  }
  .login-form form {
    margin-bottom: 15px;
    background: #f7f7f7;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
    border: #b5b5b5 2px solid;
    padding: 30px;
  }
</style>

<div class="login-form">
  <form action="/resetPassword" method="POST" id="resetPasswordId">
    <h2 class="text-center">Reset Password</h2>

    <div class="form-group">
      <label class="alignLeft pull-left" for="emailAddress">Email Address</label>
      <input
        type="email"
        id="emailAddress"
        name="emailAddress"
        class="form-control"
        placeholder="Email Address"
        required
      />
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>

    <a href="/">Back to login</a>
  </form>
</div>

<%- include('partials/footer') %>
